/* extra small devices screens */
/* jint smart watches */
@media screen and (width <640px) {
    

   h1{
    color: thistle;
    font-size: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
    
p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: thistle;
     font-weight: 800;
}
button{
    font-size: 30px !important;
    color:thistle !important ;
}

.dis{
     color: thistle;
    font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

    
}
/* small screens  */
/* hint iphone 14 */
@media screen and (640px <= width < 768px) {
    h1{
    color: thistle;
    font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
    
p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: thistle;
     font-weight: 800;
}
button{
    font-size: 30px !important;
    color:thistle !important ;
}

.dis{
     color: thistle;
    font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
}
/* medium screens  */
/*  hint ipad */
@media screen and ( 768px <= width <1024px) {
   h1{
    color: thistle;
    font-size: 40px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
    
p{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: thistle;
     font-weight: 800;
}
button{
    font-size: 30px !important;
    color:thistle !important ;
}

.dis{
     color: thistle;
    font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
}
/* large screens */
/* mac air */
@media screen and ( 1024px <= width <1280px) {
 

}
/* extra large */
/* laptop  */
@media screen and ( 1280px <= width <1536px) {
  
}
/* 2x large */
/* tv */
@media screen and ( width >=1536px ) {


   
    
}
